<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">

<dom-module id="retention-curve-general">
  <template>
    <style>
    </style>
    <google-chart
      type="line"
      id="retention_curve_general"
      cols='[{"label": "Day", "type": "number"},{"label": "Seconds", "type": "number"}]'
      rows="{{data}}"
      options='{"tooltip": {"isHtml": true}, "legend": "none"}'
    ></google-chart>
  </template>
  <script>
    Polymer({
      is: 'retention-curve-general',
      properties: {

      },
      ready: async function() {
        console.log('retention-curve-general')
        this.data = [
          [0, 3],
          [1, 6],
          [2, 5]
        ]
      }
    })
  </script>
</dom-module>