<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">

<dom-module id="visualize-intervention-suggestions">
  <template>
    <style>
      #retention_curve_general {
        width: 100%;
        height: 600px;
      }
    </style>
    <div>All Users with experiment_vars set</div>

    <template is="dom-repeat" items="{{users_with_experiment_vars}}" as="userid">
      <div>
        <a href="/viewuser.html?userid={{userid}}">{{userid}}</a>
      </div>
    </template>

    <br><br>

    <template is="dom-repeat" items="{{selection_algorithm_and_users_list}}" as="selection_algorithm_and_users">
      <div>Algorithm: {{selection_algorithm_and_users.algorithm}}</div>
      <template is="dom-repeat" items="{{selection_algorithm_and_users.users}}" as="userid">
        <div>
          <a href="/viewuser.html?userid={{userid}}">{{userid}}</a>
        </div>
      </template>
      <br><br>
    </template>
  </template>
  <script>
    Polymer({
      is: 'visualize-intervention-suggestions',
      properties: {
        
      },
      /*
      display_user_list: function(user_list, container) {
        $('#num_active_users').text(user_ids.length)
        for (let user_id of user_ids) {
          $(container).append($('<a href="/viewuser.html?userid=' + user_id + '">' + user_id + '</a>'))
          $('#user_list').append($('<br>'))
        }
      },
      */
      ready: async function() {
        console.log('ready called in intervention-visulize-suggestions')
        let all_collections = await listcollections()
        console.log(all_collections)
        let idx = 0
        users_suggested = []
        users_took_action = []
        users_took_action_goal = []
        users_suggested_goal = []
        users_exp_intervention_suggestion = []
        

        let users_suggested_fields = []
        let users_took_action_fields = []
        let impression_list = []
        
        for (let collection of all_collections) {
          // over all interventions
          idx += 1
          if ((idx % 1000) == 0) {
            console.log(idx + '/' + all_collections.length)
          }
          if (collection.indexOf('synced') != -1) continue
          if (collection.indexOf(':') == -1) continue
          //console.log(collection)
          let data = await get_collection_cached(collection)
          //console.log(data)
          try{
            for (let line of data) {
            // each log item for that intervention
            // look for type == "impression"
            // line.timestamp is when this intervention was seen this particular time

            if (line.type && line.type == 'suggested') {
              console.log('intervention was suggested')
              console.log(line)
              
              users_suggested.push(line)
              if (!Array.isArray(users_suggested_fields) || !users_suggested_fields.length)
                {
                users_suggested_fields = Object.keys(line)
              }
            }
            if (line.type && line.type == 'suggestion_action') {
              console.log('user either accepted or declined intervention suggestion')
              console.log(line)
              users_took_action.push(line)
              if (!Array.isArray(users_took_action_fields) || !users_took_action_fields.length)
                {
                  users_took_action_fields = Object.keys(line)
              }
            }
            if (line.type && line.type == 'goal_suggestion_action') {
              console.log('user either accepted or declined goal suggestion')
              console.log(line)
              users_took_action_goal.push(line)
              if (!Array.isArray(users_took_action_goal) || !users_took_action_goal.length)
                {
                  users_took_action_goal = Object.keys(line)
              }
            }

            if (line.type && line.type == 'goal_suggestion') {
              console.log('user either accepted or declined goal suggestion')
              console.log(line)
              users_suggested_goal.push(line)
              if (!Array.isArray(users_suggested_goal) || !users_suggested_goal.length)
                {
                  users_suggested_goal = Object.keys(line)
              }
            }
            if (line.key && line.key == 'intervention_suggestion_algorith')
              {
                console.log('user experiment variables')
                users_exp_intervention_suggestion.push(line)
                
              
              }
            //console.log(line.userid)   
            /*
            if (line.type && line.type == 'impression' && userids.includes(line.userid)) {
              console.log('impression with proper userid appeared')
              console.log(line)
              impression_list.push(line)
            }
            */

          }
          }
          catch(TypeError){
            console.log("maybe not iterable")
            console.log(data)
          }
          

          if (collection.indexOf('experiment_vars') != -1) {
            for (let line of data) {
              if (line.key == 'intervention_suggestion_algorithm') {
                console.log('intervention_suggestion_algorithm')
                console.log(line.val)
              }
            }
          }
        }
        user_to_reward_gifs = await get_users_to_conditions_in_experiment_by_name('reward_gifs_abtest')
        console.log(users_suggested)
        console.log(users_took_action)
        console.log(JSON.stringify(impression_list))
        console.log(users_exp_intervention_suggestion)
        return
        
      },
    })
  </script>
</dom-module>